body {
  background-color: #f2f2f2;
  color: #00b3b3;

}

.container {
  background-color: #f2f2f2;
  display: flex;
}

.container * {
  font-family: "Lucida Console", Courier, monospace;
}

.game-info {
  background-color: #f2f2f2;
  margin: 0 20px;
  text-align: center;
}

.grid {
  height: 360px;
  width: 200px;
}

.grid, .mini-grid {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.grid div, .mini-grid div {
  background-color: #d9d9d9;
  border: 1px white solid;
  border-radius: 2px;
  height: 18px;
  width: 18px;
}

.mini-grid {
  height: 80px;
  margin: 0 auto;
  width: 80px;
}

.grid {
  background-color: white;
}

.grid .taken {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.tetromino .taken {
  border-color: white;
}

button {
  background-color: #00b3b3;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 5px;
  width: 90px;
}
